$color-verde-oscuro: #27735D;     // Verde oscuro - Montaña
$color-verde-claro: #71D980;      // Verde claro - Páramo
$color-verde-limon: #d2fc51;  // Verde Limon
$color-gris-claro: #F2F2F2;      // Gris claro
$color-negro: #242424;           // Negro
$color-verde-pinos: #1B4332;     // Verde Pinos
$color-azul-cielo: #6CC1E0;      // Azul Cielo
$color-gris-montaña: #9E9E9E;   // Gris Montaña

